<a href="https://colab.research.google.com/github/tejinder8/Projects/blob/main/UFO_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import plotly.express as px
from collections import Counter

In [18]:
url = 'https://raw.githubusercontent.com/microsoft/ML-For-Beginners/main/3-Web-App/1-Web-App/data/ufos.csv'
df = pd.read_csv(url, index_col=0)

In [23]:
df.head()

                   city state country  ...   latitude   longitude         timestamp
0            san marcos    tx      us  ...  29.883056  -97.941111  10/10/1949 20:30
1          lackland afb    tx     NaN  ...  29.384210  -98.581082  10/10/1949 21:00
2  chester (uk/england)   NaN      gb  ...  53.200000   -2.916667  10/10/1955 17:00
3                  edna    tx      us  ...  28.978333  -96.645833  10/10/1956 21:00
4               kaneohe    hi      us  ...  21.418056 -157.803611  10/10/1960 20:00

[5 rows x 11 columns]

In [19]:
df['timestamp']=df.index

In [22]:
df.index=range(len(df))

In [31]:
df.country.value_counts()

us    65114
ca     3000
gb     1905
au      538
de      105
Name: country, dtype: int64